<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>LearnHub</title>
  </head>
  <body>
    <header class="header">
      <div class="head container">
        <nav class="head-nav">
          <a href="../../index.html" class="head-logo">LearnHub</a>
          <ul class="head-list">
            <li><a href="../../index.html" class="nav-href">Home</a></li>
            <li>
              <a href="./courses.html" class="nav-href">Courses</a>
              <ul class="submenu">
                <li><a href="./courses.html?category=IT">IT</a></li>
                <li>
                  <a href="./courses.html?category=Language">Languages</a>
                </li>
                <li>
                  <a href="./courses.html?category=Design">Design</a>
                </li>
              </ul>
            </li>
            <li><a href="#" class="nav-href">Contacts</a></li>
          </ul>
        </nav>

        <button class="burger-btn">
          <svg class="burger-icon" width="28" height="28">
            <use href="../images/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </header>

    <main>
      <section class="section">
        <div class="map-container container">
          <h1>Contact Us</h1>
          <p>We're located here. Come say hi!</p>
          <div id="map"></div>
        </div>
      </section>

      <div class="modal-overlay" data-menu>
        <div class="modal">
          <div class="modal-header">
            <div class="modal-header-menu">
              <a href="#" class="modal-logo">LearnHub</a>
              <button type="button" class="modal-burger-button">
                <svg class="burger-icon-menu" width="28" height="28">
                  <use href="../images/icons.svg#icon-close"></use>
                </svg>
              </button>
            </div>
          </div>

          <nav class="modal-nav">
            <ul class="modal-nav-list">
              <li>
                <a href="/index.html" class="modal-nav-link menu-list-item">Home</a>
              </li>
              <li>
                <button type="button" class="modal-nav-link courses-button">
                  Courses
                </button>
                <ul class="modal-submenu">
                  <li>
                    <a class="menu-list-item" href="./courses.html"
                      >All courses
                    </a>
                  </li>
                  <li>
                    <a
                      class="menu-list-item"
                      href="./courses.html?category=IT"
                      >IT</a
                    >
                  </li>
                  <li>
                    <a
                      class="menu-list-item"
                      href="./courses.html?category=Language"
                      >Languages</a
                    >
                  </li>
                  <li>
                    <a
                      class="menu-list-item"
                      href="./courses.html?category=Design"
                      >Design</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="modal-nav-link menu-list-item">Contacts</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <footer class="foot">
      <div class="footer container">
        <p class="footer-text">&copy; 2025 LearnHub</p>
      </div>
    </footer>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"
    ></script>
    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/map.js"></script>
  </body>
</html>
